* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: rgba(225, 248, 255, 1);
}
.v113_406 {
  width: 100%;
  height: 1024px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v113_407 {
  width: 315px;
  height: 315px;
  background: url("../images/v113_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 1px;
  overflow: hidden;
}
.v113_408 {
  width: 231px;
  height: 231px;
  background: url("../images/v113_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 191px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v113_410 {
  width: 284px;
  height: 284px;
  background: url("../images/v113_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 38px;
  overflow: hidden;
}
.v113_411 {
  width: 195px;
  height: 195px;
  background: url("../images/v113_411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 1350px;
  overflow: hidden;
}
.v113_412 {
  width: 114px;
  height: 114px;
  background: url("../images/v113_412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 278px;
  left: 34px;
  transform: rotate(-41deg);
  overflow: hidden;
}
.v113_413 {
  width: 196px;
  height: 196px;
  background: url("../images/v113_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 1214px;
  transform: rotate(-20deg);
  overflow: hidden;
}
.v113_414 {
  width: 184px;
  height: 184px;
  background: url("../images/v113_414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 649px;
  overflow: hidden;
}
.v113_415 {
  width: 129px;
  height: 129px;
  background: url("../images/v113_415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 1332px;
  transform: rotate(-18deg);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v113_417 {
  width: 620px;
  height: 110px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 406px;
  border: 5px solid rgba(48, 201, 248, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v113_428 {
  width: 620px;
  height: 110px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 410px;
  border: 5px solid rgba(48, 201, 248, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v113_430 {
  width: 620px;
  height: 110px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 828px;
  left: 410px;
  border: 5px solid rgba(48, 201, 248, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v113_418 {
  width: 872px;
  color: rgba(48, 201, 248, 1);
  position: absolute;
  top: 177px;
  left: 284px;
  font-family: Black Han Sans;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v113_420 {
  width: 555px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 578px;
  left: 442px;
  font-family: NanumSquareRound;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v113_429 {
  width: 555px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 717px;
  left: 442px;
  font-family: NanumSquareRound;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v113_431 {
  width: 555px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 852px;
  left: 442px;
  font-family: NanumSquareRound;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
