* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v178_470 {
  top: 1340px;
}
.v103_562 {
  width: 100%;
  height: 1257px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 0px;
  overflow: hidden;
}
.v103_410 {
  width: 100%;
  height: 225px;
  background: url("../images/v103_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_411 {
  width: 100%;
  height: 225px;
  background: rgba(0, 0, 0, 0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_412 {
  width: 100%;
  height: 731px;
  background: url("../images/v103_412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 192px;
  overflow: hidden;
}
.v103_413 {
  width: 361px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v103_414 {
  width: 100%;
  height: 126px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 8px
    rgba(
      0.12941177189350128,
      0.14509804546833038,
      0.16078431904315948,
      0.10000000149011612
    );
  overflow: hidden;
}
.v103_415 {
  width: 100%;
  height: 48px;
  background: url("../images/v103_415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v103_455 {
  width: 96px;
  height: 48px;
  background: rgba(128, 221, 249, 1);
  padding: 12px 33px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 965px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v103_456 {
  width: 30px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 12px;
  left: 33px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v109_413 {
  width: 239px;
  height: 48px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 15px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v109_414 {
  width: 213px;
  height: 46px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v109_415 {
  width: 199px;
  height: 19px;
  background: url("../images/v109_415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
  overflow: hidden;
}
.v109_416 {
  width: 146px;
  color: rgba(173, 181, 189, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v109_431 {
  width: 424px;
  height: 49px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 238px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v109_432 {
  width: 213px;
  height: 46px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v109_433 {
  width: 199px;
  height: 19px;
  background: url("../images/v109_433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
  overflow: hidden;
}
.v109_434 {
  width: 177px;
  color: rgba(173, 181, 189, 1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v109_435 {
  width: 28px;
  height: 28px;
  background: url("../images/v109_435.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  overflow: hidden;
}
.v109_436 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v109_437 {
  width: 20px;
  height: 20px;
  background: rgba(48, 201, 248, 1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v109_438 {
  width: 272px;
  height: 48px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 676px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v109_439 {
  width: 213px;
  height: 46px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v109_440 {
  width: 199px;
  height: 19px;
  background: url("../images/v109_440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
  overflow: hidden;
}
.v109_441 {
  width: 175px;
  color: rgba(173, 181, 189, 1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v109_444 {
  width: 20px;
  height: 20px;
  background: url("../images/v109_444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 22px;
  overflow: hidden;
}
.v109_445 {
  width: 20px;
  height: 20px;
  background: url("../images/v109_445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_446 {
  width: 20px;
  height: 20px;
  background: url("../images/v109_446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_447 {
  width: 20px;
  height: 20px;
  background: url("../images/v109_447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_448 {
  width: 20px;
  height: 20px;
  background: url("../images/v109_448.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v109_449 {
  width: 16px;
  height: 17px;
  background: url("../images/v109_449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v109_450 {
  width: 16px;
  height: 17px;
  background: rgba(48, 201, 248, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v103_457 {
  width: 145px;
  height: 18px;
  background: url("../images/v103_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 20px;
  overflow: hidden;
}
.v103_459 {
  width: 18px;
  height: 18px;
  background: rgba(81, 171, 243, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 0px
    rgba(0.3176470696926117, 0.6705882549285889, 0.9529411792755127, 1);
  overflow: hidden;
}
.v103_460 {
  width: 22px;
  height: 22px;
  background: url("../images/v103_460.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v103_461 {
  width: 22px;
  height: 22px;
  background: url("../images/v103_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_462 {
  width: 22px;
  height: 22px;
  background: url("../images/v103_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_464 {
  width: 22px;
  height: 22px;
  background: url("../images/v103_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_465 {
  width: 22px;
  height: 22px;
  background: url("../images/v103_465.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v103_466 {
  width: 19px;
  height: 15px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v103_458 {
  width: 108px;
  color: rgba(52, 58, 64, 1);
  position: absolute;
  top: 0px;
  left: 28px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v103_467 {
  width: 100%;
  height: 512px;
  background: url("../images/v103_467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 8px;
  overflow: hidden;
}
.v103_468 {
  width: 342px;
  height: 240px;
  background: rgba(241, 243, 245, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v103_469 {
  width: 342px;
  height: 240px;
  background: url("../images/v103_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_474 {
  width: 342px;
  height: 240px;
  background: rgba(241, 243, 245, 1);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v109_399 {
  width: 342px;
  height: 240px;
  background: rgba(81, 171, 243, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v109_402 {
  width: 277px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 36px;
  left: 23px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v109_398 {
  width: 163px;
  height: 163px;
  background: url("../images/v109_398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 159px;
  overflow: hidden;
}
.v103_476 {
  width: 342px;
  height: 240px;
  background: rgba(241, 243, 245, 1);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 366px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v103_477 {
  width: 342px;
  height: 240px;
  background: url("../images/v103_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_478 {
  width: 342px;
  height: 240px;
  background: rgba(241, 243, 245, 1);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 724px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v103_479 {
  width: 342px;
  height: 240px;
  background: url("../images/v103_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v112_398 {
  width: 342px;
  height: 240px;
  background: rgba(241, 243, 245, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 726px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v112_399 {
  width: 342px;
  height: 240px;
  background: rgba(81, 171, 243, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v112_400 {
  width: 277px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 32px;
  left: 23px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v112_404 {
  width: 141px;
  height: 141px;
  background: url("../images/v112_404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 177px;
  overflow: hidden;
}
.v112_405 {
  width: 342px;
  height: 240px;
  background: rgba(241, 243, 245, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 367px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v112_406 {
  width: 342px;
  height: 240px;
  background: rgba(44, 109, 161, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v112_407 {
  width: 277px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 32px;
  left: 23px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v112_411 {
  width: 150px;
  height: 150px;
  background: url("../images/v112_411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 171px;
  overflow: hidden;
}
