* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v210_212 {
  width: 100%;
  height: 1246px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 0px;
  overflow: hidden;
}
.v211_286 {
  width: 100%;
  height: 384px;
  background: url("../images/v211_286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 108px;
  overflow: hidden;
}
.v211_287 {
  width: 282px;
  height: 344px;
  background: url("../images/v211_287.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 24px;
  overflow: hidden;
}
.v211_288 {
  width: 282px;
  height: 210px;
  background: url("../images/v211_288.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v211_289 {
  width: 48px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 0px;
  overflow: hidden;
}
.v211_290 {
  width: 48px;
  color: rgba(102, 114, 164, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v211_291 {
  width: 282px;
  height: 27px;
  background: url("../images/v211_291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.v211_292 {
  width: 280px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v211_293 {
  width: 185px;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 285px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v211_294 {
  width: 282px;
  height: 22px;
  background: url("../images/v211_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v211_295 {
  width: 90px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v211_296 {
  width: 26px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 3px;
  left: 90px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v211_297 {
  width: 282px;
  height: 344px;
  background: url("../images/v211_297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 330px;
  overflow: hidden;
}
.v211_298 {
  width: 282px;
  height: 210px;
  background: url("../images/v211_298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v211_299 {
  width: 50px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 0px;
  overflow: hidden;
}
.v211_300 {
  width: 51px;
  color: rgba(102, 114, 164, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v211_301 {
  width: 282px;
  height: 27px;
  background: url("../images/v211_301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.v211_302 {
  width: 264px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v211_303 {
  width: 148px;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 285px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v211_304 {
  width: 282px;
  height: 22px;
  background: url("../images/v211_304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v211_305 {
  width: 85px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v211_306 {
  width: 26px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 3px;
  left: 86px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v211_307 {
  width: 282px;
  height: 344px;
  background: url("../images/v211_307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 636px;
  overflow: hidden;
}
.v211_308 {
  width: 282px;
  height: 210px;
  background: url("../images/v211_308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v211_309 {
  width: 51px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 0px;
  overflow: hidden;
}
.v211_310 {
  width: 51px;
  color: rgba(102, 114, 164, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v211_311 {
  width: 282px;
  height: 27px;
  background: url("../images/v211_311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.v211_312 {
  width: 158px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v211_313 {
  width: 114px;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 285px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v211_314 {
  width: 282px;
  height: 22px;
  background: url("../images/v211_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v211_315 {
  width: 89px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v211_316 {
  width: 26px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 3px;
  left: 90px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v211_317 {
  width: 282px;
  height: 344px;
  background: url("../images/v211_317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 942px;
  overflow: hidden;
}
.v211_318 {
  width: 282px;
  height: 210px;
  background: url("../images/v211_318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v211_319 {
  width: 51px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 0px;
  overflow: hidden;
}
.v211_320 {
  width: 51px;
  color: rgba(102, 114, 164, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v211_321 {
  width: 282px;
  height: 27px;
  background: url("../images/v211_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.v211_322 {
  width: 248px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v211_323 {
  width: 123px;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 285px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v211_324 {
  width: 282px;
  height: 22px;
  background: url("../images/v211_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v211_325 {
  width: 73px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v211_326 {
  width: 26px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  top: 3px;
  left: 74px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v211_285 {
  width: 157px;
  color: url("../images/v211_285.png");
  position: absolute;
  top: 521px;
  left: 166px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_284 {
  width: 100%;
  height: 454px;
  background: url("../images/v210_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_215 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 202px;
  overflow: hidden;
}
.v210_216 {
  width: 100%;
  height: 40px;
  background: url("../images/v210_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 202px;
  overflow: hidden;
}
.v210_217 {
  width: 204px;
  height: 40px;
  background: url("../images/v210_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_218 {
  width: 53px;
  height: 40px;
  background: rgba(118, 219, 250, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v210_219 {
  width: 29px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 11px;
  left: 12px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v210_220 {
  width: 31px;
  color: rgba(20, 23, 25, 1);
  position: absolute;
  top: 11px;
  left: 79px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v210_221 {
  width: 100%;
  height: 48px;
  background: url("../images/v210_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 100px;
  overflow: hidden;
}
.v210_233 {
  width: 272px;
  height: 48px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 685px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v210_234 {
  width: 271px;
  height: 47px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v210_235 {
  width: 169px;
  height: 18px;
  background: url("../images/v210_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 62px;
  overflow: hidden;
}
.v210_236 {
  width: 61px;
  color: rgba(173, 181, 189, 1);
  position: absolute;
  top: 0px;
  left: 7px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v210_237 {
  width: 20px;
  height: 16px;
  background: rgba(48, 201, 248, 1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 26px;
}
.v210_226 {
  width: 272px;
  height: 48px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 394px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v210_227 {
  width: 271px;
  height: 47px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v210_228 {
  width: 199px;
  height: 21px;
  background: url("../images/v210_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 48px;
  overflow: hidden;
}
.v210_229 {
  width: 177px;
  color: rgba(173, 181, 189, 1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v210_230 {
  width: 28px;
  height: 28px;
  background: url("../images/v210_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 13px;
  overflow: hidden;
}
.v210_231 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v210_232 {
  width: 20px;
  height: 20px;
  background: rgba(48, 201, 248, 1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v210_222 {
  width: 272px;
  height: 48px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 102px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v210_223 {
  width: 213px;
  height: 46px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v210_224 {
  width: 146px;
  height: 17px;
  background: url("../images/v210_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
  overflow: hidden;
}
.v210_225 {
  width: 146px;
  color: rgba(173, 181, 189, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
