* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v62_1085 {
  width: 100%;
  height: 1246px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v62_1138 {
  width: 100%;
  height: 289px;
  background: url("../images/v62_1138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 190px;
  overflow: hidden;
}
.v62_1230 {
  width: 453px;
  height: 100%;
  background: url("../images/v62_1230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 201px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v62_1139 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 0px;
  overflow: hidden;
}
.v62_1140 {
  width: 100%;
  height: 40px;
  background: url("../images/v62_1140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1141 {
  width: 204px;
  height: 40px;
  background: url("../images/v62_1141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1142 {
  width: 53px;
  height: 40px;
  background: rgba(118,219,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v62_1143 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 12px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v62_1145 {
  width: 31px;
  color: rgba(20,23,25,1);
  position: absolute;
  top: 11px;
  left: 79px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v62_1146 {
  width: 100%;
  height: 48px;
  background: url("../images/v62_1146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 102px;
  overflow: hidden;
}
.v62_1147 {
  width: 272px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 102px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v62_1148 {
  width: 213px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v62_1161 {
  width: 199px;
  height: 19px;
  background: url("../images/v62_1161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
  overflow: hidden;
}
.v62_1162 {
  width: 146px;
  color: rgba(173,181,189,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1216 {
  width: 272px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 394px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v62_1217 {
  width: 213px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v62_1218 {
  width: 199px;
  height: 19px;
  background: url("../images/v62_1218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
  overflow: hidden;
}
.v62_1219 {
  width: 177px;
  color: rgba(173,181,189,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1224 {
  width: 28px;
  height: 28px;
  background: url("../images/v62_1224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  overflow: hidden;
}
.v62_1225 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v62_1226 {
  width: 20px;
  height: 20px;
  background: rgba(48,201,248,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v62_1220 {
  width: 272px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 685px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v62_1221 {
  width: 213px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v62_1222 {
  width: 199px;
  height: 19px;
  background: url("../images/v62_1222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
  overflow: hidden;
}
.v62_1223 {
  width: 61px;
  color: rgba(173,181,189,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1228 {
  width: 16px;
  height: 16px;
  background: rgba(48,201,248,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 20px;
}
.name {
  color: #fff;
}
.v62_1087 {
  width: 100%;
  height: 170px;
  background: url("../images/v62_1087.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1088 {
  width: 146px;
  height: 48px;
  background: url("../images/v62_1088.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1174px;
  overflow: hidden;
}
.v62_1089 {
  width: 32px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v62_1090 {
  width: 43px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 16px;
  left: 47px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v62_1091 {
  width: 43px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 16px;
  left: 104px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v62_1092 {
  width: 100%;
  height: 65px;
  background: url("../images/v62_1092.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 132px;
  overflow: hidden;
}
.v62_1093 {
  width: 790px;
  height: 45px;
  background: url("../images/v62_1093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v62_1094 {
  width: 410px;
  height: 44px;
  background: url("../images/v62_1094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 180px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v62_1095 {
  width: 374px;
  height: 40px;
  background: url("../images/v62_1095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 22px;
  overflow: hidden;
}
.v62_1096 {
  width: 334px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v62_1097 {
  width: 334px;
  height: 21px;
  background: url("../images/v62_1097.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v62_1098 {
  width: 141px;
  color: rgba(170,170,170,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1099 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 350px;
  overflow: hidden;
}
.v62_1100 {
  width: 20px;
  height: 19px;
  background: rgba(48,201,248,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v62_1101 {
  width: 61px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 12px;
  left: 715px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1102 {
  width: 262px;
  height: 69px;
  background: url("../images/v62_1102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 93px;
  overflow: hidden;
}
.v62_1103 {
  width: 52px;
  height: 24px;
  background: rgba(118,219,250,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 650px;
  border: 2px solid rgba(118,219,250,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v62_1104 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 661px;
  font-family: Noto Sans KR;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1105 {
  width: 167px;
  height: 1px;
  background: url("../images/v62_1105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1033px;
  overflow: hidden;
}
.v62_1106 {
  width: 42px;
  height: 42px;
  background: url("../images/v62_1106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 125px;
  overflow: hidden;
}
.v62_1107 {
  width: 24px;
  height: 24px;
  background: url("../images/v62_1107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
}
.v62_1108 {
  width: 56px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 28px;
  left: 7px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v62_1109 {
  width: 100%;
  height: 57px;
  background: rgba(225,248,255,1);
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v62_1110 {
  width: 820px;
  height: 57px;
  background: url("../images/v62_1110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 258px;
  overflow: hidden;
}
.v62_1111 {
  width: 54px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 26px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1112 {
  width: 27px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 105px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1113 {
  width: 72px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 162px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1114 {
  width: 86px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 273px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1115 {
  width: 40px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 347px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1116 {
  width: 100%;
  height: 57px;
  background: url("../images/v62_1116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 124px;
  overflow: hidden;
}
.v62_1117 {
  width: 138px;
  height: 57px;
  background: url("../images/v62_1117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1118 {
  width: 16px;
  height: 12px;
  background: url("../images/v62_1118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 29px;
  overflow: hidden;
}
.v62_1119 {
  width: 54px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 20px;
  left: 58px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1120 {
  width: 150px;
  height: 1px;
  background: url("../images/v62_1120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1050px;
  overflow: hidden;
}
.v62_1121 {
  width: 67px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1122 {
  width: 101px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 84px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1123 {
  width: 100%;
  height: 57px;
  background: rgba(225,248,255,1);
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v62_1124 {
  width: 820px;
  height: 57px;
  background: url("../images/v62_1124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 258px;
  overflow: hidden;
}
.v62_1125 {
  width: 54px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 26px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1126 {
  width: 27px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 105px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1127 {
  width: 72px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 162px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1128 {
  width: 86px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 273px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1129 {
  width: 40px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 347px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1130 {
  width: 100%;
  height: 57px;
  background: url("../images/v62_1130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 124px;
  overflow: hidden;
}
.v62_1131 {
  width: 138px;
  height: 57px;
  background: url("../images/v62_1131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1132 {
  width: 16px;
  height: 12px;
  background: url("../images/v62_1132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 29px;
  overflow: hidden;
}
.v62_1133 {
  width: 54px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 20px;
  left: 58px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v62_1135 {
  width: 150px;
  height: 1px;
  background: url("../images/v62_1135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1050px;
  overflow: hidden;
}
.v62_1136 {
  width: 67px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1137 {
  width: 101px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 18px;
  left: 84px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1231 {
  width: 157px;
  color: url("../images/v62_1231.png");
  position: absolute;
  top: 668px;
  left: 150px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v62_1729 {
  width: 100%;
  height: 384px;
  background: url("../images/v62_1729.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 96px;
  overflow: hidden;
}
.v62_1730 {
  width: 282px;
  height: 344px;
  background: url("../images/v62_1730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 24px;
  overflow: hidden;
}
.v62_1731 {
  width: 282px;
  height: 210px;
  background: url("../images/v62_1731.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1732 {
  width: 48px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 0px;
  overflow: hidden;
}
.v62_1733 {
  width: 48px;
  color: rgba(102,114,164,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v62_1734 {
  width: 282px;
  height: 27px;
  background: url("../images/v62_1734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.v62_1735 {
  width: 280px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v62_1736 {
  width: 185px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 285px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v62_1737 {
  width: 282px;
  height: 22px;
  background: url("../images/v62_1737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v62_1738 {
  width: 90px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v62_1739 {
  width: 26px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 3px;
  left: 90px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v62_1740 {
  width: 282px;
  height: 344px;
  background: url("../images/v62_1740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 330px;
  overflow: hidden;
}
.v62_1741 {
  width: 282px;
  height: 210px;
  background: url("../images/v62_1741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1742 {
  width: 50px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 0px;
  overflow: hidden;
}
.v62_1743 {
  width: 51px;
  color: rgba(102,114,164,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v62_1744 {
  width: 282px;
  height: 27px;
  background: url("../images/v62_1744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.v62_1745 {
  width: 264px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v62_1746 {
  width: 148px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 285px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v62_1747 {
  width: 282px;
  height: 22px;
  background: url("../images/v62_1747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v62_1748 {
  width: 85px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v62_1749 {
  width: 26px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 3px;
  left: 86px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v62_1750 {
  width: 282px;
  height: 344px;
  background: url("../images/v62_1750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 636px;
  overflow: hidden;
}
.v62_1751 {
  width: 282px;
  height: 210px;
  background: url("../images/v62_1751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1752 {
  width: 51px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 0px;
  overflow: hidden;
}
.v62_1753 {
  width: 51px;
  color: rgba(102,114,164,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v62_1754 {
  width: 282px;
  height: 27px;
  background: url("../images/v62_1754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.v62_1755 {
  width: 158px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v62_1756 {
  width: 114px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 285px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v62_1757 {
  width: 282px;
  height: 22px;
  background: url("../images/v62_1757.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v62_1758 {
  width: 89px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v62_1759 {
  width: 26px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 3px;
  left: 90px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v62_1760 {
  width: 282px;
  height: 344px;
  background: url("../images/v62_1760.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 942px;
  overflow: hidden;
}
.v62_1761 {
  width: 282px;
  height: 210px;
  background: url("../images/v62_1761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1762 {
  width: 51px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 0px;
  overflow: hidden;
}
.v62_1763 {
  width: 51px;
  color: rgba(102,114,164,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v62_1764 {
  width: 282px;
  height: 27px;
  background: url("../images/v62_1764.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.v62_1765 {
  width: 248px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v62_1766 {
  width: 123px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 285px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v62_1767 {
  width: 282px;
  height: 22px;
  background: url("../images/v62_1767.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v62_1768 {
  width: 73px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v62_1769 {
  width: 26px;
  color: rgba(17,17,17,1);
  position: absolute;
  top: 3px;
  left: 74px;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
