.v200_546 {
  width: 934px;
  color: #333333;
  background-color: #ffffff;
  position: absolute;
  top: 800px;
  left: 255px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  padding-bottom: 100px;
  line-height: 1.5;
}
