<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/error.css') }}"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/error.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v218_213">
      <div class="v218_233"><div class="v218_234"></div></div>
      <div class="v218_214"><span class="v218_216">404 </span></div>
      <div class="v218_217">
        <span class="v218_218"
          >Page Not Found 페이지가 아직 개발중 입니다 ㅜㅜ</span
        >
      </div>
    </div>
  </body>
</html>
