<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=NanumSquareRound&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form2.css') }}"
    />
    <link href="./css/form2.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v113_406">
      <div class="v113_407"><div class="v113_408"></div></div>
      <div class="name"></div>
      <div class="v113_410"></div>
      <div class="v113_411"></div>
      <div class="v113_412"></div>
      <div class="v113_413"></div>
      <div class="v113_414"></div>
      <div class="v113_415"></div>
      <div class="name"></div>
      <div class="v113_417"></div>
      <div class="v113_428"></div>
      <div class="v113_430"></div>
      <span class="v113_418">여행 예산은 어느 정도로 생각하고 있나요?</span
      ><span
        onclick="javascriot:location.href='index111.html'"
        style="cursor: hand"
        onfocus="blur();"
        class="v113_420"
        >돈 좀 써도 상관 없다.</span
      ><span
        onclick="javascriot:location.href='index112.html'"
        style="cursor: hand"
        onfocus="blur();"
        class="v113_429"
        >적당히 쓰고 싶다.</span
      ><span
        onclick="javascriot:location.href='index113.html'"
        style="cursor: hand"
        onfocus="blur();"
        class="v113_431"
        >저렴하게 다녀오고 싶다.</span
      >
    </div>
  </body>
</html>
