<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=NanumSquareRound&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form1.css') }}"
    />
    <link href="./css/form1.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v70_3921">
      <div class="v70_3918"><div class="v79_1637"></div></div>
      <div class="name"></div>
      <div class="v79_1643"></div>
      <div class="v70_3922"></div>
      <div class="v79_1647"></div>
      <div class="v70_3923"></div>
      <div class="v70_3925"></div>
      <div class="v70_3927"></div>
      <div class="v70_3930"></div>
      <div class="v70_3931"></div>
      <span class="v70_3932">누구와 여행하시나요?</span
      ><span class="v113_401">혼자 한다.</span
      ><span class="v113_402">가족, 친구, 연인 등과 함께 한다.</span>
    </div>
  </body>
</html>
