<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/rent.css') }}"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/rent.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <!--탑배너-->
    <div class="v31_1260">
      <div class="v34_222">
        <div class="v34_229">
          <div class="v178_1424">
            <span class="v34_235">경로추천 후기</span
            ><span
              onclick="javascriot:location.href='form1.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_234"
              >맞춤여행</span
            >
          </div>
          <div class="v34_223">
            <span
              onclick="javascriot:location.href='air.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_224"
            >
              항공권
            </span>
            <span
              onclick="javascriot:location.href='sukso.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_225"
              >숙소</span
            >
            <span
              onclick="javascriot:location.href='tour.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_226"
              >투어/입장권</span
            >
            <span
              onclick="javascriot:location.href='package.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_227"
              >패키지</span
            >
            <span
              onclick="javascriot:location.href='rent.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_228"
              >렌터카</span
            >
          </div>
          <div class="v34_230">
            <div class="v34_231"></div>
            <span class="v34_232">전체메뉴</span>
          </div>
        </div>
      </div>
      <div class="v178_461">
        <div class="v178_462">
          <div class="v178_1421">
            <span class="v32_1337">제주도</span>
            <div class="v34_60"></div>
            <span class="v34_61">HOT</span>
          </div>
          <div class="v178_1418">
            <div class="v178_1419">
              <div class="v31_1275">
                <div class="v31_1276"></div>
                <span
                  onclick="javascriot:location.href='mypage.html'"
                  style="cursor: hand"
                  onfocus="blur();"
                  class="v31_1277"
                  >마이페이지</span
                >
              </div>
            </div>
            <div class="v31_1261">
              <span class="v31_1264">고객센터</span
              ><span class="v31_1263">회원가입</span
              ><span class="v31_1262">로그인</span>
            </div>
          </div>
        </div>
        <div class="v178_1420">
          <div class="v178_1422">
            <div class="v31_1268">
              <div class="v31_1269">
                <div class="v31_1270">
                  <div class="v31_1271">
                    <span class="v31_1272">검색어를 입력해 주세요.</span>
                  </div>
                </div>
                <div class="v34_237"><div class="v34_238"></div></div>
              </div>
            </div>
          </div>
          <div
            onclick="javascriot:location.href='index.html'"
            style="cursor: hand"
            onfocus="blur();"
            class="v178_1423"
          >
            <div class="v31_1305"></div>
          </div>
        </div>
      </div>
    </div>
    <!--탑배너-->
    <div class="rent"></div>
    <!--
    <div class="v103_562">
      <div class="v103_410"><div class="v103_411"></div></div>
      <div class="v103_412">
        <span class="v103_413">어떤 렌터카 찾으세요?</span>
        <div class="v103_414">
          <div class="v103_415">
            <div class="v103_455"><span class="v103_456">검색</span></div>
            <div class="v109_413">
              <div class="v109_414">
                <div class="v109_415">
                  <span class="v109_416">여행지를 입력하세요.</span>
                </div>
              </div>
            </div>
            <div class="v109_431">
              <div class="v109_432">
                <div class="v109_433">
                  <span class="v109_434">여행일정을 입력하세요.</span>
                </div>
                <div class="v109_435">
                  <div class="v109_436"><div class="v109_437"></div></div>
                </div>
              </div>
            </div>
            <div class="v109_438">
              <div class="v109_439">
                <div class="v109_440">
                  <span class="v109_441">운전자 생년원일</span>
                </div>
                <div class="v109_444">
                  <div class="v109_445">
                    <div class="v109_446">
                      <div class="v109_447">
                        <div class="v109_448"></div>
                        <div class="v109_449"><div class="v109_450"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="v103_457">
            <div class="v103_459">
              <div class="v103_460">
                <div class="v103_461">
                  <div class="v103_462">
                    <div class="v103_464">
                      <div class="v103_465"></div>
                      <div class="v103_466"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span class="v103_458">운전 경력 1년 이상</span>
          </div>
        </div>
        <div class="v103_467">
          <div class="v103_468"><div class="v103_469"></div></div>
          <div class="v103_474">
            <div class="v109_399"></div>
            <span class="v109_402">자주 묻는 질문 10가지</span>
            <div class="v109_398"></div>
          </div>
          <div class="v103_476"><div class="v103_477"></div></div>
          <div class="v103_478"><div class="v103_479"></div></div>
          <div class="v112_398">
            <div class="v112_399"></div>
            <span class="v112_400">5분만에 이해하는 자동차 보험</span>
            <div class="v112_404"></div>
          </div>
          <div class="v112_405">
            <div class="v112_406"></div>
            <span class="v112_407">오픈 기념 7만원 할인 쿠폰 </span>
            <div class="v112_411"></div>
          </div>
        </div>
      </div>
    </div>
  -->
    <!--하위배너-->
    <div class="v178_470"></div>
    <!--하위배너-->
  </body>
</html>
