<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sukso.css') }}"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/sukso.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <!--탑배너-->
    <div class="v31_1260">
      <div class="v34_222">
        <div class="v34_229">
          <div class="v178_1424">
            <span class="v34_235">경로추천 후기</span
            ><span
              onclick="javascriot:location.href='form1.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_234"
              >맞춤여행</span
            >
          </div>
          <div class="v34_223">
            <span
              onclick="javascriot:location.href='air.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_224"
            >
              항공권
            </span>
            <span
              onclick="javascriot:location.href='sukso.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_225"
              >숙소</span
            >
            <span
              onclick="javascriot:location.href='tour.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_226"
              >투어/입장권</span
            >
            <span
              onclick="javascriot:location.href='package.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_227"
              >패키지</span
            >
            <span
              onclick="javascriot:location.href='rent.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_228"
              >렌터카</span
            >
          </div>
          <div class="v34_230">
            <div class="v34_231"></div>
            <span class="v34_232">전체메뉴</span>
          </div>
        </div>
      </div>
      <div class="v178_461">
        <div class="v178_462">
          <div class="v178_1421">
            <span class="v32_1337">제주도</span>
            <div class="v34_60"></div>
            <span class="v34_61">HOT</span>
          </div>
          <div class="v178_1418">
            <div class="v178_1419">
              <div class="v31_1275">
                <div class="v31_1276"></div>
                <span class="v31_1277">마이페이지</span>
              </div>
            </div>
            <div class="v31_1261">
              <span class="v31_1264">고객센터</span
              ><span class="v31_1263">회원가입</span
              ><span class="v31_1262">로그인</span>
            </div>
          </div>
        </div>
        <div class="v178_1420">
          <div class="v178_1422">
            <div class="v31_1268">
              <div class="v31_1269">
                <div class="v31_1270">
                  <div class="v31_1271">
                    <span class="v31_1272">검색어를 입력해 주세요.</span>
                  </div>
                </div>
                <div class="v34_237"><div class="v34_238"></div></div>
              </div>
            </div>
          </div>
          <div
            onclick="javascriot:location.href='index.html'"
            style="cursor: hand"
            onfocus="blur();"
            class="v178_1423"
          >
            <div class="v31_1305"></div>
          </div>
        </div>
      </div>
    </div>
    <!--탑배너-->
    <div class="v210_212">
      <div class="v211_286">
        <div class="v211_287">
          <div class="v211_288"></div>
          <div class="v211_289"><span class="v211_290">TOP1 🥇</span></div>
          <div class="v211_291">
            <span class="v211_292">[4성★호놀룰루] 하얏트 리젠시 와이키키</span>
          </div>
          <span class="v211_293">와이키키 중심 하와이 베스트셀러</span>
          <div class="v211_294">
            <span class="v211_295">468,000</span
            ><span class="v211_296">원~</span>
          </div>
        </div>
        <div class="v211_297">
          <div class="v211_298"></div>
          <div class="v211_299"><span class="v211_300">TOP.2 🥈</span></div>
          <div class="v211_301">
            <span class="v211_302">[5성★세부] 제이파크 아일랜드 리조트</span>
          </div>
          <span class="v211_303">워터파크 맛집 인기 리조트</span>
          <div class="v211_304">
            <span class="v211_305">237,000</span
            ><span class="v211_306">원~</span>
          </div>
        </div>
        <div class="v211_307">
          <div class="v211_308"></div>
          <div class="v211_309"><span class="v211_310">TOP.3 🥉</span></div>
          <div class="v211_311">
            <span class="v211_312">[4성★괌] 두짓 비치 괌</span>
          </div>
          <span class="v211_313">시내 중심 인기 호텔!</span>
          <div class="v211_314">
            <span class="v211_315">290,000</span
            ><span class="v211_316">원~</span>
          </div>
        </div>
        <div class="v211_317">
          <div class="v211_318"></div>
          <div class="v211_319"><span class="v211_320">TOP.4 🏅</span></div>
          <div class="v211_321">
            <span class="v211_322">[3.5성★방콕] 이비스 스타일스 실롬</span>
          </div>
          <span class="v211_323">방콕 가성비 인기 호텔</span>
          <div class="v211_324">
            <span class="v211_325">74,000</span
            ><span class="v211_326">원~</span>
          </div>
        </div>
      </div>
      <span class="v211_285">인기 TOP 호텔</span>
      <div class="v210_214"></div>
      <div class="v210_284">
        <div class="v210_215"></div>
        <div class="v210_216">
          <div class="v210_217">
            <div class="v210_218"><span class="v210_219">해외</span></div>
            <span class="v210_220">국내</span>
          </div>
        </div>
        <div class="v210_221">
          <div class="v210_233">
            <div class="v210_234">
              <div class="v210_235"><span class="v210_236">숙박인원</span></div>
              <div class="v210_237"></div>
            </div>
          </div>
          <div class="v210_226">
            <div class="v210_227">
              <div class="v210_228">
                <span class="v210_229">여행일정을 입력하세요.</span>
              </div>
              <div class="v210_230">
                <div class="v210_231"><div class="v210_232"></div></div>
              </div>
            </div>
          </div>
          <div class="v210_222">
            <div class="v210_223">
              <div class="v210_224">
                <span class="v210_225">여행지를 입력하세요.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="name"></div>
      </div>
    </div>
    <!--하위배너-->
    <div class="v178_470">
      <div class="v34_236"></div>
      <div class="v34_154">
        <div class="v34_155"></div>
        <div class="v34_156"></div>
        <div class="v34_157"></div>
        <div class="v34_158"></div>
        <div class="v34_159"></div>
        <div class="v34_160"></div>
      </div>
      <div class="v34_183">
        <div class="v34_184">
          <span class="v34_185">(주)해조트립</span>
          <div class="v34_186"></div>
          <span class="v34_187">대표 : 해줄게 </span>
          <div class="v34_188"></div>
          <span class="v34_189">주소 : 어쩌구 저쩌구구</span>
        </div>
        <div class="v34_207">
          <div class="v34_208"></div>
          <span class="v34_209">고객센터</span
          ><span class="v34_210"> 1577-1233 </span>
          <div class="v34_211"></div>
          <span class="v34_212">해외항공권문의</span
          ><span class="v34_213"> 1899-1833</span>
        </div>
        <span class="v34_146">공지사항</span>
        <div class="v34_147">
          <div class="v34_148"><div class="v34_149"></div></div>
          <div class="v34_151">
            <div class="v34_152">
              <span class="v34_153">해조트립 이벤트 공지</span
              ><span class="v34_150">더보기</span>
            </div>
          </div>
        </div>
      </div>
      <div class="v178_1417"></div>
    </div>
    <!--하위배너-->
  </body>
</html>
