<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Malgun+Gothic&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tour.css') }}"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/tour.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <!--탑배너-->
    <div class="v31_1260">
      <div class="v34_222">
        <div class="v34_229">
          <div class="v178_1424">
            <span class="v34_235">경로추천 후기</span
            ><span
              onclick="javascriot:location.href='form1.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_234"
              >맞춤여행</span
            >
          </div>
          <div class="v34_223">
            <span
              onclick="javascriot:location.href='air.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_224"
            >
              항공권
            </span>
            <span
              onclick="javascriot:location.href='sukso.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_225"
              >숙소</span
            >
            <span
              onclick="javascriot:location.href='tour.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_226"
              >투어/입장권</span
            >
            <span
              onclick="javascriot:location.href='package.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_227"
              >패키지</span
            >
            <span
              onclick="javascriot:location.href='rent.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_228"
              >렌터카</span
            >
          </div>
          <div class="v34_230">
            <div class="v34_231"></div>
            <span class="v34_232">전체메뉴</span>
          </div>
        </div>
      </div>
      <div class="v178_461">
        <div class="v178_462">
          <div class="v178_1421">
            <span class="v32_1337">제주도</span>
            <div class="v34_60"></div>
            <span class="v34_61">HOT</span>
          </div>
          <div class="v178_1418">
            <div class="v178_1419">
              <div class="v31_1275">
                <div class="v31_1276"></div>
                <span
                  onclick="javascriot:location.href='mypage.html'"
                  style="cursor: hand"
                  onfocus="blur();"
                  class="v31_1277"
                  >마이페이지</span
                >
              </div>
            </div>
            <div class="v31_1261">
              <span class="v31_1264">고객센터</span
              ><span class="v31_1263">회원가입</span
              ><span
                onclick="javascriot:location.href='login.html'"
                style="cursor: hand"
                onfocus="blur();"
                class="v31_1262"
                >로그인</span
              >
            </div>
          </div>
        </div>
        <div class="v178_1420">
          <div class="v178_1422">
            <div class="v31_1268">
              <div class="v31_1269">
                <div class="v31_1270">
                  <div class="v31_1271">
                    <span class="v31_1272">검색어를 입력해 주세요.</span>
                  </div>
                </div>
                <div class="v34_237"><div class="v34_238"></div></div>
              </div>
            </div>
          </div>
          <div
            onclick="javascriot:location.href='index.html'"
            style="cursor: hand"
            onfocus="blur();"
            class="v178_1423"
          >
            <div class="v31_1305"></div>
          </div>
        </div>
      </div>
    </div>
    <!--탑배너-->
    <div
      onclick="javascriot:location.href='https://www.naver.com'"
      style="cursor: hand"
      onfocus="blur();"
      class="click_tour1 test"
    ></div>
    <div
      onclick="javascriot:location.href='https://www.naver.com'"
      style="cursor: hand"
      onfocus="blur();"
      class="click_tour2 test"
    ></div>
    <div
      onclick="javascriot:location.href='https://www.naver.com'"
      style="cursor: hand"
      onfocus="blur();"
      class="click_tour3 test"
    ></div>
    <div
      onclick="javascriot:location.href='https://www.naver.com'"
      style="cursor: hand"
      onfocus="blur();"
      class="click_tour4 test"
    ></div>
    <div
      onclick="javascriot:location.href='https://www.naver.com'"
      style="cursor: hand"
      onfocus="blur();"
      class="click_tour5 test"
    ></div>
    <div
      onclick="javascriot:location.href='https://www.naver.com'"
      style="cursor: hand"
      onfocus="blur();"
      class="click_tour6 test"
    ></div>
    <div
      onclick="javascriot:location.href='https://www.naver.com'"
      style="cursor: hand"
      onfocus="blur();"
      class="click_tour7 test"
    ></div>
    <div
      onclick="javascriot:location.href='https://www.naver.com'"
      style="cursor: hand"
      onfocus="blur();"
      class="click_tour8 test"
    ></div>
    <div class="v70_1930"></div>
    <!--하위배너-->
    <div class="v178_470"></div>
    <!--하위배너-->
  </body>
</html>
