<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/ways.css') }}"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/ways.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <!--탑배너-->
    <div class="v31_1260">
      <div class="v34_222">
        <div class="v34_229">
          <div class="v178_1424">
            <span class="v34_235">경로추천 후기</span
            ><span
              onclick="javascriot:location.href='form1.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_234"
              >맞춤여행</span
            >
          </div>
          <div class="v34_223">
            <span
              onclick="javascriot:location.href='air.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_224"
            >
              항공권
            </span>
            <span
              onclick="javascriot:location.href='sukso.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_225"
              >숙소</span
            >
            <span
              onclick="javascriot:location.href='tour.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_226"
              >투어/입장권</span
            >
            <span
              onclick="javascriot:location.href='package.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_227"
              >패키지</span
            >
            <span
              onclick="javascriot:location.href='rent.html'"
              style="cursor: hand"
              onfocus="blur();"
              class="v34_228"
              >렌터카</span
            >
          </div>
          <div class="v34_230">
            <div class="v34_231"></div>
            <span class="v34_232">전체메뉴</span>
          </div>
        </div>
      </div>
      <div class="v178_461">
        <div class="v178_462">
          <div class="v178_1421">
            <span class="v32_1337">제주도</span>
            <div class="v34_60"></div>
            <span class="v34_61">HOT</span>
          </div>
          <div class="v178_1418">
            <div class="v178_1419">
              <div class="v31_1275">
                <div class="v31_1276"></div>
                <span
                  onclick="javascriot:location.href='mypage.html'"
                  style="cursor: hand"
                  onfocus="blur();"
                  class="v31_1277"
                  >마이페이지</span
                >
              </div>
            </div>
            <div class="v31_1261">
              <span class="v31_1264">고객센터</span
              ><span class="v31_1263">회원가입</span
              ><span class="v31_1262">로그인</span>
            </div>
          </div>
        </div>
        <div class="v178_1420">
          <div class="v178_1422">
            <div class="v31_1268">
              <div class="v31_1269">
                <div class="v31_1270">
                  <div class="v31_1271">
                    <span class="v31_1272">검색어를 입력해 주세요.</span>
                  </div>
                </div>
                <div class="v34_237"><div class="v34_238"></div></div>
              </div>
            </div>
          </div>
          <div
            onclick="javascriot:location.href='index.html'"
            style="cursor: hand"
            onfocus="blur();"
            class="v178_1423"
          >
            <div class="v31_1305"></div>
          </div>
        </div>
      </div>
    </div>
    <!--탑배너-->

    <span class="v200_543">여행 경로 추천</span>
    <div class="v200_545">
      <span class="v200_546">{{ result }}</span>
    </div>
    <!--지도API-->
    <div id="map"></div>

    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=abr47ay7xt"></script>
    <script>
      var mapOptions = {
        center: new naver.maps.LatLng(37.5665, 126.978),
        zoom: 10,
      };

      var map = new naver.maps.Map("map", mapOptions);

      var markers = [];
      var lines = [];

      map.addListener("click", function (e) {
        if (markers.length >= 5) {
          return;
        }

        var latlng = e.coord;

        var markerOptions = {
          position: latlng,
          map: map,
        };

        var marker = new naver.maps.Marker(markerOptions);

        markers.push(marker);

        if (markers.length > 1) {
          var prevMarker = markers[markers.length - 2];
          var line = new naver.maps.Polyline({
            map: map,
            path: [prevMarker.getPosition(), marker.getPosition()],
            strokeColor: "#FF0000",
            strokeWeight: 2,
          });
          lines.push(line);
        }

        // 생성한 맵핑 클릭 시 삭제
        naver.maps.Event.addListener(marker, "click", function () {
          var markerIndex = markers.findIndex(function (item) {
            return item === marker;
          });

          if (markerIndex !== -1) {
            marker.setMap(null);
            markers.splice(markerIndex, 1);

            // 해당 맵핑과 연결된 선 삭제
            var lineIndices = [];
            lines.forEach(function (line, index) {
              if (
                line.getPath()[0].equals(marker.getPosition()) ||
                line.getPath()[1].equals(marker.getPosition())
              ) {
                lineIndices.push(index);
                line.setMap(null);
              }
            });

            lineIndices.forEach(function (index) {
              lines.splice(index, 1);
            });
          }
        });
      });
    </script>
    <!--지도API-->

    <div id="button-container">
      <a class="custom-button" href="gps.html" target="_blank"
        >지도 좌표 입력하러 가기</a
      >
    </div>

    <!--하위배너-->
    <div class="v178_470"></div>
    <!--하위배너-->
  </body>
</html>
